$mobile: 240px;
$large-mobile: 400px;
$tablet: 600px;
$large-tablet: 800px;
$desktop: 1200px;
$large-desktop: 1400px;

@include add-breakpoint('mobile', $mobile);
@include add-breakpoint('large-mobile', $large-mobile);
@include add-breakpoint('tablet', $tablet);
@include add-breakpoint('large-tablet', $large-tablet);
@include add-breakpoint('desktop', $desktop);
@include add-breakpoint('large-desktop', $large-desktop);
$breakpoint-has-widths: ('mobile', 'tablet', 'large-tablet', 'desktop', 'large-desktop');
