.nav__logo {
  height: 4rem;
  margin: 0 auto;
  width: 4rem;

  @include breakpoint($large-mobile) {
    margin: 0;
  }

  a {
    height: 100%;
    padding: 0;
    width: 100%;

    svg * {
      transition: fill .3s ease-in-out, stroke .3s ease-in-out;
    }

    &:hover,
    &:focus {
      svg {
        .background {
          fill: $navy;
        }

        .circle {
          fill: $orange;
        }

        .letter {
          fill: $white;
          stroke: $orange;
        }
      }
    }
  }
}
