button {
  @include font-size(14, 14);
  background-color: transparent;
  border: 0;
  font-family: $sans;
  font-weight: 600;
  padding: 0;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    outline: none;
  }
}

.button {
  @extend button;
  padding: 1rem 2rem;
  width: auto;

  &--primary {
    background-image: linear-gradient($navy, $navy);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    border: 2px solid $navy;
    color: $navy;
    transition: background-size .3s ease-in-out, color .3s ease-in-out;

    &:hover,
    &:focus {
      background-size: 100% 100%;
      border-color: $navy;
      color: $white;
    }
  }
}
