.home {
  .section__inner {
    display: flex;
    flex-direction: column;
  }

  h1,
  h2 {
    margin: 0 auto 0 0;
  }

  h1 {
    @include font-size(32, 28);

    &:before,
    &:after {
      display: none;
    }
  }

  h2 {
    @include font-size(20);
    font-weight: 400;
  }

  .social-links {
    margin: 3rem 0 0;
  }

}
