.section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .5s ease-in-out;
  z-index: -1;

  @include breakpoint($large-mobile) {
    width: calc(100% - 11rem);
  }

  .app-loaded &.visible {
    opacity: 1;
    z-index: 1;
  }

  &__inner {
    @extend .wrapper;

    @include breakpoint($large-mobile) {
      padding: 0;
    }

    @include breakpoint($large-tablet) {
      padding: 0 6rem;
    }
  }
}
